body {
display: grid;
height: 100%;
width: 100%;
padding: 0px;
grid-template-areas: 
'header header header'
'nav nav nav'
'sec1 sec1 aside';
}


header {
grid-area: header;
text-align: center;
background-color:  #e67e22;
padding: 25px;
}

#omoss {
grid-area: sec1;
background-color:#e67e22;
padding: 20px;
}

#rubrik {
grid-area: aside;
background-color: #d15400;
padding: 20px;
}

#recept {
    padding: 10px;
    background-color: #e74d3c;
    color: white;
}

#nav2 {
    padding: 10px;
    background-color: #e74d3c;
    color: white;
}

#nav3 {
    padding: 10px;
    background-color: #e74d3c;
    color: white;
}

#resturanger {
    text-align: center;
    background-color: #e67e22;
}

#cardwrapper {display: flex;
flex-wrap: wrap;
gap: 15px;
margin: auto;
justify-content: center;
}

section {border: 2px solid #e67e22;
width: 200px;
height: 200px;

}

#s1 {
background-image: url('../img/lasange.jpg');
background-size: cover;
}

#s2 {
background-image: url('../img/meatballs.jpg');
background-size: cover;
}

#s3 {
background-image: url('../img/pancake.jpg');
background-size: cover;
}

#s4 {
background-image: url('../img/Pizza.jpg');
background-size: cover;
}

#s5 {
background-image: url('../img/spaghetti.jpg');
background-size: cover;
}

#s6 {
background-image: url('../img/tacos.jpg');
background-size: cover;
}